<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<title>Novel-World  - The Stranger</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style3.css') }}">
</head>
<body>
	<header>
		<a href="{{ url_for('views.home') }}"><img src="{{ url_for('static', filename='images/logo1.png') }}" alt="Photo"></a>
		<h1>My Stories</h1>
		<nav>
			<ul>
				<li><a href="{{ url_for('views.home') }}">Home</a></li>
				<li><a href="{{ url_for('views.writer') }}">Writer</a></li>
				<li><a href="{{ url_for('views.contact') }}">Contact</a></li>
			</ul>
		</nav>
	</header>
	<div class="container">
		<div class="story" id="stranger">
			<h2>The Stranger</h2>
            <p>She and I were strangers. One summer day while my friends and I were sitting in a restaurant, I 
                saw a stranger. A stranger that I didn't know I would have fallen for, a stranger that would make 
                me feel the butterflies, a stranger that would make me smile, and a stranger that would make 
                me cry.</p><p>
                On that day, I tried to talk to this cute stranger. She wasn't that friendly with me at first. I think 
                maybe it was because I was acting awkwardly and shy. Still, I managed to know her name and 
                added her on Facebook. That was the first ever encounter with my little stranger. It wasn't 
                anything special, but it was magical.</p><p>
                After that, we sent messages and talked about our days. We were moving steadily from 
                strangers to friends. About three months after our last encounter, we decided to meet again, 
                this time as friends. We went to see a movie and to the park. It was a fond memory for me, and 
                that day made us feel closer.</p><p>
                We continued to keep in touch with each other through messages, calls, and occasional visits. 
                Over the year, we went on many dates, each one more memorable than the last. We went to 
                concerts, museums, and amusement parks. We took long walks on the beach, had picnics in the 
                park, and watched the sunset together. We shared stories, dreams, and fears with each other. 
                We laughed, cried, and made unforgettable memories.</p><p>
                As time passed, my feelings for her grew stronger, and I realized that I had fallen in love with 
                her. I didn't know if she felt the same way about me, but I decided to tell her how I felt. It was a 
                risk, but it was a risk worth taking. I mustered up the courage and confessed my love to her. She 
                was surprised at first, but then she smiled and told me that she had feelings for me too. We 
                started dating, and it was the happiest time of my life.</p><p>
                However, our happiness was not always complete. We faced some challenges that tested our 
                relationship. There were times when we argued and had disagreements, but we always found a 
                way to work things out. One of the saddest moments in our relationship was when she lost her 
                father. It was devastating for her, and she grieved for a long time. I tried to be there for her as 
                much as I could, but I knew that there was only so much I could do to ease her pain.</p><p>
                Another difficult time was when I lost my job. It was a blow to my ego and my finances, and it 
                put a strain on our relationship. I felt like I wasn't living up to my potential, and I was worried 
                about our future. She tried to reassure me and lift my spirits, but it was hard not to feel like a 
                burden on her.</p><p>
                Despite our efforts to make our relationship work, we began to drift apart. We argued more 
                often, and our conversations became strained. I tried everything, but it didn't seem to help. I 
                could sense that something was off, but I didn't want to believe it.</p><p>
                One day, she told me that she had met someone else. My heart shattered into a million pieces, 
                and I felt like my world had ended. She said that she still loved me, but she was in love with this 
                new person too. She didn't know what to do.</p><p>
                We tried to work through it, but it was too late. She decided to leave me, and my world came 
                crashing down. I felt lost and alone, and I didn't know how to move on. While we were 
                together, we built a life and future together. We had talked about getting married, having 
                children, and growing old together. But all those dreams and plans were shattered in an instant 
                when she left me.</p><p>
                It was painful to see her move on with someone else, knowing that I was no longer the one she 
                loved. I felt like I had lost a part of myself, and I didn't know how to move on. Every day felt like 
                a struggle, and I couldn't escape the constant reminder of what we had lost.</p><p>
                There were days when I would wake up feeling empty, and I couldn't shake off the feeling of 
                sadness that weighed me down. I missed her laugh, her touch, and the way she looked at me. I 
                felt like I had lost my soulmate, and I didn't know if I could ever find someone else who would 
                make me feel the same way.</p><p>
                The pain of the breakup followed me everywhere, and it felt like it would never go away. I tried 
                to distract myself with work, friends, and hobbies, but nothing could fill the void that she had 
                left behind. I wondered if she ever thought about me, or if I had been completely erased from 
                her life.</p><p>
                Years passed, and I tried to pick up the pieces of my life. I heard from a mutual friend that she 
                had gotten married to this new person, and they were starting a family together. It was 
                devastating news, but I knew that I had to accept it and move on.</p><p>
                Now, she and I were strangers. We didn't talk anymore, and I didn't know anything about her 
                life. I wished her all the happiness in the world, but I knew that it wasn't meant to be for us. 
                Our love story had come to an end, and I had to learn to live without her.</p><p>
                As time passed, I found myself gradually moving on from the heartbreak of losing her. I focused 
                on my career and other passions, trying to find fulfillment in other areas of my life. However, 
                there were moments when memories of her would flood back to me, and I couldn't help but 
                wonder what could have been if things had gone differently.</p><p>
                One day, I received a message from her out of the blue. She apologized for how things had 
                ended between us and said that she wanted to meet up to talk. I was hesitant at first, but 
                eventually agreed to meet her for coffee.</p><p>
                Seeing her again after all those years was surreal. We sat across from each other, catching up 
                on each other's lives and reminiscing about our past together. She told me about how her life 
                had changed since we last spoke about her family, and her job. It was bittersweet hearing 
                about her happiness, knowing that I wasn't a part of it anymore.</p><p>
                As the conversation turned to our past relationship, we both began to open up about what had 
                gone wrong. She apologized for hurting me, and I apologized for not being the best partner I 
                could have been. It was cathartic to finally have a chance to express our feelings and clear the 
                air.</p><p>
                We left that coffee shop as friends and started to slowly rebuild our relationship. It was 
                different than before, of course, but there was still a connection between us that couldn't be 
                ignored. We started to hang out more often, going on walks and exploring the city together. We 
                even attended a few concerts together, just like we used to.</p><p>
                As time went on, our relationship evolved yet again. We started to become more intimate with 
                each other, both emotionally and physically. It was as if we were rediscovering each other all 
                over again, and it was a beautiful experience. We talked about the possibility of starting over, 
                but we both knew that it wasn't that simple. We had both grown and changed so much since 
                our breakup, and there were still issues that needed to be addressed.</p><p>
                Despite our efforts to make things work, we eventually came to the realization that our 
                relationship was never going to be what it once was. We had both moved on, and our lives had 
                taken different paths. We decided to part ways again, but this time it was different. We said our 
                goodbyes with mutual understanding and respect, knowing that we had given it our all.</p><p>
                Years later, I heard through the grapevine that she had gotten divorced from her husband. A 
                part of me wondered what could have been if we had given it another shot, but I knew that it 
                was pointless to dwell on the past. I wished her all the best and hoped that she was happy.</p><p>
                Looking back on our relationship, I realized that it had been an important chapter in my life. 
                Even though it had ended in heartbreak, I had learned so much about love, relationships, and 
                myself. I had experienced the highest of highs and the lowest of lows, and I had come out to 
                the other side stronger and wiser.</p><p>
                Now, she and I were strangers once again. But this time, it was different. We had closure, and 
                we had both moved on with our lives. I knew that I would always cherish the memories we had 
                shared, but I was also excited for the future and all the possibilities it held.</p>
                <div class="writer">By<a href="{{ url_for('views.zwe') }}" style="color:black;" > Zwe Nyi Naing</a></div>
        </div> 
        <button><a href="{{ url_for('views.home') }}">Home</a></button>
        <form action="submit_comment.php" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name"><br>
    
            <label for="comment">Comment:</label>
            <textarea id="comment" name="comment"></textarea><br>
    
            <input type="submit" value="Submit">
        </form>
        
    </div>
    <footer>
        &copy; 2023 My Website
      </footer>
</body>
</html>