<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<title>My Awesome Webpage</title>
	<style>
		h2 {
			text-align: center; 
			color: rgb(246, 0, 0);
			font-family: Comic Sans MS, cursive, sans-serif; 
			font-size: 50px; 
			position: relative; 
			top: 100px; }			
	</style>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style3.css') }}">
</head>
<body>
	<header>
		<a href="{{ url_for('views.home') }}" title="Visit Homepage"><img src="{{ url_for('static', filename='images/logo1.png') }}" alt="Photo"></a>
		<h1>On Construction</h1>
        <nav>
            <ul>
				<li><a href="{{ url_for('views.home') }}">Home</a></li>
				<li><a href="{{ url_for('views.writer') }}">Writer</a></li>
				<li><a href="{{ url_for('views.contact') }}">Contact</a></li>
			</ul>
          </nav>
	</header>
	<h2>Welcome to My Awesome Webpage! 😎</h2>
	<br>
	<h2>The Developer is too lazy to write this page,maybe it will be available in a week or two😭</h2>	
</body>
</html>
